<ion-fab slot="fixed" vertical="bottom" horizontal="end" class="experiment">
  <ion-fab-button (click)="confirmDelete()" *ngIf="isEdit" size="small" expand="block" color="danger">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-button (click)="setFormModalOpen(true)" size="small" expand="block">
    <ion-icon [name]="isEdit ? 'pencil-outline' : 'add-outline'"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="setFormModalOpen(false)">Close</ion-button>
        </ion-buttons>
        <ion-title>Create Employee</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="submitEmployeeForm()">Submit</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <form [formGroup]="employeeForm">
        <ion-list>

          <ion-item lines="none" class="mt-10">
            <ion-avatar id="profile-picture" (click)="renderPicture()" slot="start">
              <img alt="Employee profile picture" [src]="profileImg" />
            </ion-avatar>
            <ion-label>Profile picture</ion-label>
            <ion-fab-button [disabled]="profileImg.includes('demos/avatar')" (click)="resetPicture()" size="small" slot="end">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
          </ion-item>

          <ion-item>
            <ion-label position="floating">First name</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
            <!-- <ion-note slot="helper">Enter the firstName</ion-note> -->
            <ion-note slot="error" *ngIf="
              employeeForm.get('firstName')?.hasError('required')
              && employeeForm.get('firstName')?.touched
            ">
              The first name is required.
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('firstName')?.hasError('minlength')
              && employeeForm.get('firstName')?.touched
            ">
              Please enter a valid firstName (minimum 3 characters).
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('firstName')?.hasError('maxlength')
              && employeeForm.get('firstName')?.touched
            ">
              Please enter a valid firstName (maximum 20 characters).
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Last name</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
            <!-- <ion-note slot="helper">Enter the lastName</ion-note> -->
            <ion-note slot="error" *ngIf="
              employeeForm.get('lastName')?.hasError('required')
              && employeeForm.get('lastName')?.touched
            ">
              The last name is required.
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('lastName')?.hasError('minlength')
              && employeeForm.get('lastName')?.touched
            ">
              Please enter a valid lastName (minimum 3 characters).
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('lastName')?.hasError('maxlength')
              && employeeForm.get('lastName')?.touched
            ">
              Please enter a valid lastName (maximum 20 characters).
            </ion-note>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Date of birth</ion-label>
            <ion-input type="text" formControlName="dob"></ion-input>
            <!-- <ion-note slot="helper">Enter the employee DOB</ion-note> -->
            <ion-note slot="error" *ngIf="
              employeeForm.get('dob')?.hasError('required')
              && employeeForm.get('dob')?.touched
            ">
              The DOB is required.
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('dob')?.hasError('pattern')
              && employeeForm.get('dob')?.touched
            ">
              Please enter a valid Date (DD/MM/YYYY).
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Street</ion-label>
            <ion-input type="text" formControlName="street"></ion-input>
            <!-- <ion-note slot="helper">Enter the street</ion-note> -->
            <ion-note slot="error" *ngIf="
              employeeForm.get('street')?.hasError('required')
              && employeeForm.get('street')?.touched
            ">
              The street is required.
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('street')?.hasError('minlength')
              && employeeForm.get('street')?.touched
            ">
              Please enter a valid street (minimum 3 characters).
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('street')?.hasError('maxlength')
              && employeeForm.get('street')?.touched
            ">
              Please enter a valid street (maximum 20 characters).
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
            <!-- <ion-note slot="helper">Enter the city</ion-note> -->
            <ion-note slot="error" *ngIf="
              employeeForm.get('city')?.hasError('required')
              && employeeForm.get('city')?.touched
            ">
              The city is required.
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('city')?.hasError('minlength')
              && employeeForm.get('city')?.touched
            ">
              Please enter a valid city (minimum 3 characters).
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('city')?.hasError('maxlength')
              && employeeForm.get('city')?.touched
            ">
              Please enter a valid city (maximum 20 characters).
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">State</ion-label>
            <ion-input type="text" formControlName="state"></ion-input>
            <!-- <ion-note slot="helper">Enter the state</ion-note> -->
            <ion-note slot="error" *ngIf="
              employeeForm.get('state')?.hasError('required')
              && employeeForm.get('state')?.touched
            ">
              The state is required.
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('state')?.hasError('minlength')
              && employeeForm.get('state')?.touched
            ">
              Please enter a valid state (minimum s characters).
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('state')?.hasError('maxlength')
              && employeeForm.get('state')?.touched
            ">
              Please enter a valid state (maximum 20 characters).
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Job title</ion-label>
            <ion-input type="text" formControlName="jobTitle"></ion-input>
            <!-- <ion-note slot="helper">Enter the jobTitle</ion-note> -->
            <ion-note slot="error" *ngIf="
              employeeForm.get('jobTitle')?.hasError('required')
              && employeeForm.get('jobTitle')?.touched
            ">
              The job title is required.
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('jobTitle')?.hasError('minlength')
              && employeeForm.get('jobTitle')?.touched
            ">
              Please enter a valid jobTitle (minimum 3 characters).
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('jobTitle')?.hasError('maxlength')
              && employeeForm.get('jobTitle')?.touched
            ">
              Please enter a valid jobTitle (maximum 20 characters).
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Phone number</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
            <!-- <ion-note slot="helper">Enter the phone</ion-note> -->
            <ion-note slot="error" *ngIf="
              employeeForm.get('phone')?.hasError('required')
              && employeeForm.get('phone')?.touched
            ">
              The phone number is required.
            </ion-note>
            <ion-note slot="error" *ngIf="
              employeeForm.get('phone')?.hasError('minlength')
              && employeeForm.get('phone')?.touched
            ">
              Please enter a valid phone (minimum 10 characters).
            </ion-note>
          </ion-item>
        </ion-list>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
