ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

p {
  line-height: 22px;
}

.p-25 {
  padding: 25px !important;
  padding-right: 35px !important;
}

.px-25 {
  padding: 0 25px !important;
  padding-right: 35px !important;
}

#avatar {
  width: 100px;
  height: 100px;
}

.text-right {
  text-align: right;
}

.sub-title {
  padding-top: 15px !important;
  border-top: 1px solid lightgray;
}

.sb-item {
  color: gray !important;
  line-height: 1.0;
  font-size: 16px;
}