<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" class="p-25">
    <ion-avatar id="avatar" slot="start">
      <img alt="Silhouette of a person's head" [src]="profileImg" />
    </ion-avatar>
    <ion-label>
      <h1>{{ employee.firstName + ' ' + employee.lastName }}</h1>
      <p>{{ employee.jobTitle }}</p>
    </ion-label>
    <ion-label slot="end">
      <p>{{ employee.dob }}</p>
    </ion-label>
  </ion-item>
  <div class="px-25 text-right">
    <h2 class="sub-title">
      <strong>Address</strong>
    </h2>
    <h4 class="sb-item">{{ employee.street }}</h4>
    <h4 class="sb-item">{{ employee.city }}</h4>
    <h4 class="sb-item">{{ employee.state }}</h4>
    <h2 class="sub-title">
      <strong>Contact</strong>
    </h2>
    <h4 class="sb-item">{{ employee.phone }}</h4>
  </div>
</ion-content>

<app-form [dataServiceInstance]="data" [employee]="employee"></app-form>
